{% extends "base.html" %}

{% block content %}

<div id="socket-notification" class="fixed bottom-4 right-4 bg-green-500 text-white px-4 py-2 rounded-md hidden">
    Novo lance recebido!
</div>

<section class="Items-auction mt-[10vh]">
    <div class="prod-auction auction-title" data-aos="fade-down">
        <h1 class="title-rubik max-w-2xl mb-3 text-3xl leading-none">Itens Diversos</h1>
        <p></p>
        <span></span>
    </div>

    <div class="auctions-container ms-8">
        <div class="auctions-scroll">
            {% for leilao in categoria_outros %}
                <div class="auction-card timeCount socket" data-aos="fade-up" data-leilao-id="{{ leilao.id }}">
                    <div class="countdownTimer time-left bg-red-600" data-end-time="{{ leilao.data_fim.strftime('%Y-%m-%d %H:%M:%S') if leilao.data_fim else '' }}"> </div>
                    <img src="{{ url_for('static', filename='uploads/' + leilao.imagem_url) }}" alt="Imagem do leilão">
                        <div class="item-details">
                            <h3 class="item-name">{{ leilao.item }}</h3>
                            <div class="vehicle-specs">
                                <span>{{ leilao.descricao }}</span>
                            </div>
                            <div class="starting-bid">Lance inicial: <span>R$ {{ leilao.lance_inicial
                                    }}</span></div>
                            <div class="bid-info">
                                <div class="bid-amount">Lance atual:
                                    <span class="current-bid-value">
                                        R$ {{ leilao.maior_lance }}
                                    </span>
                                </div>
                                <div class="bid-user">Por:
                                    <span class="current-bid-user">
                                        {{ leilao.maior_lance_user if leilao.maior_lance_user else "" }}
                                    </span>
                                </div>
                            </div>
                            <p class="item-description">
                                {{ leilao.sobre }}
                            </p>
                            <a href="{{ url_for('auction_bp.leilao_show', leilao_id=leilao.id) }}"
                                class="bid-button bg-emerald-600 hover:bg-emerald-300">Fazer um lance</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="veicles-auction mt-[15vh]">
    <div class="prod-auction auction-title" data-aos="fade-down">
        <h1 class="title-rubik max-w-2xl mb-3 text-3xl leading-none">Veículos em Leilão</h1>
        <p></p>
        <span class="text-gray-500">Os melhores veículos com lances competitivos</span>
    </div>

    <div class="auctions-container">
        <div class="auctions-scroll">
            {% for leilao in categoria_veiculos %}
            <div class="auction-card timeCount socket" data-aos="fade-up" data-leilao-id="{{ leilao.id }}">
                <div class="countdownTimer time-left bg-red-600"
                    data-end-time="{{ leilao.data_fim.strftime('%Y-%m-%d %H:%M:%S') if leilao.data_fim else '' }}">
                    <img src="{{ url_for('static', filename='uploads/' + leilao.imagem_url) }}" alt="Imagem do leilão">
                    <div class="item-details">
                        <div class="-badge bg-green-100 text-green-800"></div>
                        <h3 class="item-name">{{ leilao.item }}</h3>
                        <div class="vehicle-specs">
                            <span>{{ leilao.descricao }}</span>
                        </div>
                        <div class="starting-bid">Lance inicial: <span>R$ {{ leilao.lance_inicial }}</span></div>
                        <div class="bid-info">
                            <div class="bid-amount">Lance atual:
                                <span class="current-bid-value">
                                    {% if leilao.maior_lance %}
                                    R$ {{ leilao.maior_lance_valor }}
                                    {% else %}
                                    R$ 00,00
                                    {% endif %}
                                </span>
                            </div>
                            <div class="bid-user">Por:
                                <span class="current-bid-user">
                                    {{ leilao.maior_lance_user if leilao.maior_lance_user else "" }}
                                </span>
                            </div>
                        </div>
                        <p class="item-description">
                            {{ leilao.sobre }}
                        </p>
                        <a href="{{ url_for('auction_bp.leilao_show', leilao_id=leilao.id) }}"
                            class="bid-button bg-emerald-600 hover:bg-emerald-300">Fazer um lance</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="properties-auction mt-[15vh]">
    <div class="prod-auction auction-title" data-aos="fade-down">
        <h1 class="title-rubik max-w-2xl mb-3 text-3xl leading-none">Imóveis em Leilão</h1>
        <p></p>
        <span class="text-gray-500">Os melhores imóveis com oportunidades exclusivas</span>
    </div>

    <div class="auctions-container">
        <div class="auctions-scroll">
            {% for leilao in categoria_imoveis %}
            <div class="auction-card timeCount socket" data-aos="fade-up" data-leilao-id="{{ leilao.id }}">
                <div class="countdownTimer time-left bg-red-600"
                    data-end-time="{{ leilao.data_fim.strftime('%Y-%m-%d %H:%M:%S') if leilao.data_fim else '' }}">
                    <img src="{{ leilao.imagem_url }}" alt="{{ leilao.item }}" class="item-image">
                    <div class="item-details">
                        <div class="-badge bg-green-100 text-green-800"></div>
                        <h3 class="item-name">{{ leilao.item }}</h3>
                        <div class="property-address">
                            {{ leilao.descricao }}
                        </div>
                        <div class="starting-bid">Lance inicial: <span>R$ {{ leilao.lance_inicial }}</span></div>
                        <div class="bid-info">
                            <div class="bid-amount">Lance atual:
                                <span class="current-bid-value">R$ {{ leilao.maior_lance }}</span>
                            </div>
                            <div class="bid-user">Por:
                                <span class="current-bid-user">
                                    {{ leilao.maior_lance_user if leilao.maior_lance_user else "" }}
                                </span>
                            </div>
                        </div>
                        <p class="item-description">
                            {{ leilao.sobre }}
                        </p>
                        <a href="{{ url_for('auction_bp.leilao_show', leilao_id=leilao.id) }}"
                            class="bid-button bg-emerald-600 hover:bg-emerald-300">Fazer um lance</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
</section>
{% endblock %}